* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  --green-1: #2fbbb5;
  --green-2: #00bf6d;
}

.btn-success:hover {
  background: var(--green-1);
  color: #000;
}
body {
  font-family: 'Poppins', sans-serif;
}

/* Navbar */
.navbar {
  background: #131313;
  padding: 0.8rem 4rem;
  z-index: 100;
  /* border-bottom: solid 2px #00bf85; */
}
#navbarSupportedContent .nav-item a {
  color: #f1f1f1;
  margin: 0 0.3rem;
}
#navbarSupportedContent .nav-item a:hover {
  color: var(--green-1);
}
#navbarSupportedContent button {
  outline: none;
  border-radius: 1rem;
}
.navbar .navbar-brand {
  font-size: 1.3rem;
  color: #f1f1f1;
}
/* Hero  */
.hero {
  width: 100%;
  height: 100vh;
}
.hero video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  object-fit: cover;
  pointer-events: none;
}
.hero .hero-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
}
.hero .hero-content p {
  width: 80%;
  margin: 0 auto;
  font-size: 1.1rem;
  letter-spacing: 0.1px;
}
.hero a {
  border-radius: 1rem;
}

/* About  */
.about {
  background: #000;
  color: white;
}
.about h6 {
  color: var(--green-1);
  letter-spacing: 1px;
}
.about p {
  color: #dddddd;
  letter-spacing: 0.1px;
}
.about a {
  border-radius: 1rem;
}
/* Discover  */

.discover h6 {
  color: var(--green-1);
  letter-spacing: 1px;
}
.discover p {
  letter-spacing: 0.1px;
}
.discover a {
  border-radius: 1rem;
}
/* Service  */
/* Sign up  */
/* Footer  */
