* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  --green-1: #2fbbb5;
  --green-2: #00bf6d;
}

html {
  scroll-behavior: smooth;
}
body {
  font-family: 'Poppins', sans-serif;
}

/* Navbar */
.navbar {
  background: #131313;
  padding: 0.5rem 4rem;
  z-index: 100;
  border-top: solid 2px var(--green-1);
}
#navbarSupportedContent .nav-item a {
  color: #f1f1f1;
  margin: 0 0.3rem;
}
#navbarSupportedContent .nav-item a:hover,
#navbarSupportedContent .nav-item a.active {
  color: var(--green-1);
}
#navbarSupportedContent button {
  font-size: 0.8rem;
  color: white;
  background: var(--green-1);
  outline: none;
  padding: 0.3rem 2rem;
  border-radius: 2rem;
}
.navbar .navbar-brand {
  font-size: 1.3rem;
  color: var(--green-1);
  font-weight: 500;
  font-size: 1.5rem;
}

/* Hero  */
.hero {
  width: 100%;
  height: 100vh;
}
.hero video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  object-fit: cover;
  pointer-events: none;
}
.hero .hero-content {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 60%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
}
.hero .hero-content p {
  width: 80%;
  margin: 0 auto;
  font-size: 1.1rem;
  letter-spacing: 0.1px;
}
.hero a,
.about a,
footer button.btn {
  background: var(--green-1);
  padding: 0.5rem 2rem;
  color: black;
  font-size: 0.8rem;
}

/* About  */
.about {
  background: #000;
  color: white;
}
.about h6 {
  color: var(--green-1);
  letter-spacing: 1px;
}
.about p {
  color: #dddddd;
  letter-spacing: 0.1px;
}

/* Discover  */
.discover {
  padding: 3rem;
}
.discover h6 {
  color: var(--green-1);
  letter-spacing: 1px;
}
.discover p {
  letter-spacing: 0.1px;
}

/* Service  */
.services {
  background: #000;
  color: white;
  padding: 3rem 8rem;
}
.services .header {
  text-align: center;
  margin: 2rem;
}
.services .cards {
  display: flex;
  flex-wrap: nowrap;
  padding: 1rem 5rem;
}
.services .cards .service {
  background: white;
  color: #000;
  margin: 0 0.4rem;
  border-radius: 0.5rem;
  border-bottom: solid 8px var(--green-1);
}
.services .cards .service h5 {
  margin: 1rem 0;
  font-weight: 500;
}

/* Sign up  */
.signup {
  padding: 5rem 3rem;
}
.signup h6 {
  color: var(--green-1);
  letter-spacing: 1px;
}
.signup p {
  letter-spacing: 0.1px;
}

@media (max-width: 767px) {
  .navbar {
    padding: 0.5rem;
  }
  .services {
    padding: 2rem;
  }
  .services .cards {
    flex-wrap: wrap;
    padding: 1rem;
  }
  .services .cards .service {
    margin: 0.5rem;
  }
}
